.mainnav{
	background-color: #0d3659;
	color: white;	
	font-family: 'Copse', serif;
}

.navCart{
	width: 1.2em;
	padding-bottom: 10%;
}

.line{
	border-top: 0.4px solid black; 
	border-bottom: 0.4px solid black;
}

.navtoolbar .nav-link{
	color:black;
    font-family: 'Copse', serif;
}

.leftemail{
	background-color: #F0F0F0;
	width: 50%;
    font-family: 'Merriweather', serif;
}

.rightemail{
	font-family: 'Copse', serif;

	background-color: #E6E6E6;
	width: 50%;

	display: block;
    margin-left: auto;
    margin-right: auto;	
}

.products{
    font-family: 'Merriweather', serif;
}

.products img {
	width: 23em;
}

.producttitle{
	text-align: center;
}

.footer{
    font-family: 'PT Sans', sans-serif;
	text-align: left;
}

#footer{
	background-color: #F0F0F0;
}

/*div p{
	text-align: center;
}*/

.mainlogo {
 	display: block;
    margin-left: auto;
    margin-right: auto;	
   	width: 22em;
}

.nav {
	font-size: 24px;
}